#**This is the beginning of this project named Recommedation System Based on All Movies Using the Weighted Average** .

The path in **imdb_path** is uploaded on personal computer. Kindly refer to the Kaggle link provided at the end of the project to access the dataset.

In [ ]:
imdb_path = "https://raw.githubusercontent.com/hxrshpxthxk/Datasets/main/imdb_top_1000.csv?token=GHSAT0AAAAAAB3M42F5FZLRGCUCFOX7ZJRMY3ZFDIA"

Importing the dataset from path imdb_path through pandas library

In [ ]:
import pandas as pd
imdb_df = pd.read_csv(imdb_path)
imdb_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

The info() function returns the Non_null count and data type of all the features of the dataset.

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

Dropping all the null values from the dataset to clean the data.

In [ ]:
imdb_df = imdb_df.dropna()
imdb_df.reset_index(inplace = True, drop = True)
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 89.4+ KB

Using sklearn library from python to normalize the data using MinMaxScaler function

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
imdb_df_m = scaler.fit_transform(imdb_df[["IMDB_Rating","No_of_Votes"]])
imdb_df_n_db = pd.DataFrame(imdb_df_m,columns = ["Rating","No_of_Votes"])
imdb_df_n_db

       Rating  No_of_Votes
0    1.000000     1.000000
1    0.941176     0.688188
2    0.823529     0.982795
3    0.823529     0.476609
4    0.823529     0.286734
..        ...          ...
709  0.000000     0.002120
710  0.000000     0.008676
711  0.000000     0.060909
712  0.000000     0.006524
713  0.000000     0.007828

[714 rows x 2 columns]

Declaring various features from dataset as the variables

r = Rating features , v = no of votes , c = mean of number of votes and m = 70 quantile of the No of votes 


Weighted Average formula is used to calculate the Weighted Average and stored in feature of the same name.

In [ ]:
r = imdb_df_n_db['Rating']
v = imdb_df_n_db['No_of_Votes']
c = imdb_df_n_db['No_of_Votes'].mean()
m = imdb_df_n_db['No_of_Votes'].quantile(0.7)
imdb_df["Weighted Average"] = ((r*v)+(c*m))/(v+m)
imdb_df_ranking = imdb_df.sort_values('Weighted Average',ascending=False)
imdb_df_ranking[['Series_Title','Released_Year','IMDB_Rating','Genre','Meta_score','No_of_Votes','Gross','Weighted Average']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Series_Title,Released_Year,IMDB_Rating,Genre,Meta_score,No_of_Votes,Gross,Weighted Average
0,The Shawshank Redemption,1994,9.3,Drama,80.0,2343110,"28,341,469",0.871232
1,The Godfather,1972,9.2,"Crime, Drama",100.0,1620367,"134,966,411",0.778009
2,The Dark Knight,2008,9.0,"Action, Crime, Drama",84.0,2303232,"534,858,444",0.719752
6,Pulp Fiction,1994,8.9,"Crime, Drama",94.0,1826188,"107,928,762",0.649437
3,The Godfather: Part II,1974,9.0,"Crime, Drama",90.0,1129952,"57,300,000",0.639353
5,The Lord of the Rings: The Return of the King,2003,8.9,"Action, Adventure, Drama",94.0,1642758,"377,845,905",0.639007
8,Inception,2010,8.8,"Action, Adventure, Sci-Fi",74.0,2067042,"292,576,195",0.611769
7,Schindler's List,1993,8.9,"Biography, Drama, History",94.0,1213505,"96,898,818",0.605242
9,Fight Club,1999,8.8,Drama,66.0,1854740,"37,030,102",0.602846
11,Forrest Gump,1994,8.8,"Drama, Romance",82.0,1809221,"330,252,182",0.600708

Creating **genre_wise_rank** function to get the rank of each movie according to the genre it is placed in. 
This is used as the main criteria for the output as recommendation.

In [ ]:

def genre_wise_rank(genre):
  imdb_df_ranking["Match_genre"] = imdb_df_ranking["Genre"].apply(lambda x: 'Match' if  genre in x else 'Mismatch') 
  return (imdb_df_ranking.loc[imdb_df_ranking['Match_genre']=='Match']).head(5)

In [ ]:
genre_wise_rank('Action')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Weighted Average,Match_genre
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",0.719752,Match
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905",0.639007,Match
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195",0.611769,Match
10,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750",0.593114,Match
14,https://m.media-amazon.com/images/M/MV5BNzQzOT...,The Matrix,1999,A,136 min,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1676426,"171,479,930",0.546802,Match

In [ ]:
genre_wise_rank('Drama')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Weighted Average,Match_genre
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",0.871232,Match
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",0.778009,Match
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",0.719752,Match
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762",0.649437,Match
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",0.639353,Match

In [ ]:
genre_wise_rank("Crime")

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Weighted Average,Match_genre
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",0.778009,Match
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",0.719752,Match
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762",0.649437,Match
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",0.639353,Match
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",0.563905,Match

The link for the dataset is here [Link for Dataset](https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows)  .